.btn_slide {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  position: absolute;

  background-color: transparent;

  cursor: pointer;
  color: grey;
  font-size: 3vw;
  svg {
    fill: grey;
    width: 2vw;
    height: 1vw;
  }
}

.btn_slide:hover {
  svg {
    fill: white;
  }
}

.prev {
  top: 3vh;
  right: 3vw;
}

.prev:hover {
  color: white;
}

.next {
  top: 3vh;
  right: 1vw;
}

.next:hover {
  color: white;
}

.page_counter {
  display: flex;
  position: absolute;
  top: 3vh;
  left: 1vw;

  font-weight: 500;
  font-size: 1.2vw;
  letter-spacing: 5px;

  .total_pages {
    color: grey;
  }
}

.portfolioCard {
  width: 100%;
  margin-top: 20vh;

  .imageTitle {
    width: 100%;
    margin-bottom: 4vh;
  }

  .subTitle {
    margin-bottom: 1vh;

    font-size: 1.4vw;
    line-height: 1.2vw;
    font-weight: 500;
  }

  .techStack {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 1.5vh;

    .techStackItem {
      flex: 0 1 50%;

      font-size: 1.2vw;
      line-height: 1.2vw;
      font-weight: 400;
      margin-bottom: 1vh;

      &::before {
        content: "• ";
      }
    }
  }

  .demoLink {
    display: flex;
    align-items: center;

    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    color: #fc440f;
    font-weight: 400;

    svg {
      margin-left: 0.2vw;

      width: 2vw;
      height: 1vw;

      fill: #fc440f;
    }
  }
  .demoLink:hover {
    color: white;

    svg {
      fill: white;
    }
  }

  .imageMac {
    margin-top: 1.5vh;
    margin-left: 20%;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .portfolioCard {
    margin-top: 10vh;
    .imageTitle {
      margin-left: 20px;
      width: 200px;
    }

    .subTitle {
      margin: 0 20px 2vh 20px;

      font-size: 16px;
      line-height: 1.2vw;
    }

    .techStack {
      margin-left: 20px;
      margin-right: 20px;
      .techStackItem {
        font-size: 14px;
        line-height: 12px;

        margin-bottom: 1vh;
      }
    }

    .demoLink {
      font-size: 14px;
      margin-left: 20px;

      svg {
        margin-left: 3px;
        width: 20px;
        height: 12px;
      }
    }

    .imageMac {
      margin-left: 30%;
      width: 100vw;
    }
  }

  .btn_slide {
    width: 32px;
    height: 32px;
    font-size: 24px;

    svg {
      width: 20px;
      height: 14px;
    }
  }

  .prev {
    top: 14px;
    right: 67px;
  }
  .next {
    top: 14px;
    right: 42px;
  }

  .page_counter {
    top: 26px;
    left: 42px;

    font-size: 12px;
    letter-spacing: 5px;
  }
}

@media (min-width: 501px) and (max-width: 850px) {
  .portfolioCard {
    .imageTitle {
      width: 200px;
    }

    .subTitle {
      margin-bottom: 2vh;

      font-size: 14px;
      line-height: 1.2vw;
    }

    .techStack {
      .techStackItem {
        font-size: 12px;
        line-height: 10px;

        margin-bottom: 1vh;
      }
    }
    .demoLink {
      font-size: 12px;
      margin-left: 0px;

      svg {
        margin-left: 3px;
        width: 16px;
        height: 10px;
      }
    }
  }

  .btn_slide {
    width: 24px;
    height: 24px;
    svg {
      width: 20px;
      height: 14px;
    }
  }

  .prev {
    top: 16px;
    right: 45px;
  }
  .next {
    top: 16px;
    right: 15px;
  }

  .page_counter {
    top: 26px;
    left: 15px;

    font-size: 12px;
    letter-spacing: 5px;
  }
}
