.loadingContainer {
  position: absolute;
  left: 30%;
}

.loader {
  width: 4vw;
  height: 4vw;
  border: 0.3vw solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .loadingContainer {
    position: absolute;
    top: 40%;
    left: 42%;
  }
  .loader {
    width: 10vw;
    height: 10vw;
    border: 1vw solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}
