.items {
  display: flex;
  flex-direction: column;
  align-items: center;

  :last-child {
    border: none;
  }
}

.item {
  border-bottom: 1px solid white;
  width: 27vw;
}

.item_header {
  color: #00c47c;
  margin: 1.5vw 0;
  font-size: 2vw;
}

.item_title {
  font-size: 1.1vw;
  line-height: 1.2vw;
  font-weight: 500;
  margin-bottom: 0.5vw;
}

.item_text {
  margin-bottom: 1.5vw;
  font-size: 1.1vw;
  line-height: 1.2vw;
  font-weight: 400;
}

@media (max-width: 500px) {
  .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10vw;
  }

  .item {
    width: 100%;
  }

  .item_header {
    margin: 15px 0;
    font-size: 20px;
  }

  .item_title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .item_text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media (min-width: 501px) and (max-width: 850px) {
  .item {
    width: auto;
    margin: 0 35px 0 25px;
  }

  .item_header {
    margin: 10px 0;
    font-size: 18px;
  }

  .item_title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .item_text {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }
}
